@import "./variables";

.c-add-task {
  display: flex;
  gap: 1rem;
  width: 100%;

  @media (max-width: 577px) {
    flex-direction: column;
  }

  &__input {
    font-size: $font-size;
    padding: 0.8rem;
    flex-grow: 1;
    border-color: $dark-purple;
    border-radius: 4px;
  }

  
}
