@import "./variables";

.c-button {
  background-color: $dark-purple;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: $font-size;
  padding: 0.5rem 3rem;
  transition: 0.2s ease-in-out;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    background-color: rgba($color: $dark-purple, $alpha: 0.8);
  }

  &:disabled {
    background-color: rgba($color: $dark-purple, $alpha: 0.5);
    cursor: default;
  }

  &--login {
    padding: 0.5rem;
    display: flex;

    & i {
      font-size: 1.5rem;
    }
  }
}
