@import "./variables";

.c-header {
  color: $dark-purple;
  background-color: lavender;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 4px;
  display: flex;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s ease-in-out;

  &__links {
    display: flex;
    gap: 1rem;
  }

  &__link {
    text-decoration: none;
    font-size: 1.2rem;

    &--active {
      font-weight: bold;
    }
    
    &:hover {
      color: black;
    }
  }

  &__container {
    padding: 0 5rem;
  }
}

